.appInput {
  @apply h-[60px] w-full rounded-[6px] bg-[#181818] px-[18px];
  color: rgba(255, 255, 255, 0.5);
  outline: 3px solid rgba(255, 255, 255, 0.5);
  &:focus {
    outline: 3px solid #ff9b33;
  }
}
